/*RESET GENERAL CCS*/

* {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  background: url(./IMAGENES/Insumos1.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

body {
  min-height: 100%;
}

/* **************************************************************************************************** */

/* CLASES HEADER */

header {
  width: 100%;
  background: rgba(0, 0, 0, 0.247);
  position: fixed;
}

.Titulomenu {
  display: flex;
  color: white;
  margin-left: 70px;
  padding: 5px;
  font-style: normal;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#btn-menu {
  display: none;
}

header label {
  display: flex;
  width: 40px;
  height: 30px;
  padding: 10px;
  border-right: 1px solid white;
}

header label:hover {
  cursor: pointer;
  /* background: rgba(0, 0, 0, 0.3); */
}

.menu ul {
  margin: 0;
  padding: 0;
  list-style: none;
  /* display: flex; */
  justify-content: flex-end;
}

.menu li {
  border-right: 1px solid white;
}

.menu li:hover {
  background: rgba(0, 0, 0, 0.3);
  border-radius: 20px;
}

.menu li a {
  display: block;
  padding: 15px 20px;
  color: white;
  text-decoration: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* **************************************************************************************************** */

/* CLASES MAIN */

.main {
  width: 100%;
  height: auto;
  position: absolute;
  margin-top: 130px;
}

.titulo {
  color: white;
  background-color: rgb(180, 28, 28);
  display: flex;
  justify-content: center;
}

.lista {
  padding: 25px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  flex-direction: column;
  display: flex;
  align-items: center;
  list-style: none;
  background-color: rgba(0, 0, 0, 0.274);
  font-size: 25px;
  font-style: normal;
  color: white;
}

.Titulo__Cerveza {
  color: black;
  font-size: 25px;
  justify-content: center;
}

.tamaño {
  display: flexbox;
  justify-content: center;
  width: 700px;
  margin-left: 33%;
}

/* **************************************************************************************************** */

/* CLASES FOOTER */

.footercontenido {
  width: 100%;
  background: rgba(0, 0, 0, 0.247);
  bottom: 0;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  position: fixed;
}

.footerinfo {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white;
  padding: 10px;
  margin-left: 50px;
}

.footerredes {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white;
  padding: 10px;
  margin-right: 50px;
}

/* **************************************************************************************************** */

/* MEDIA QUERY'S */

@media (min-width: 804px) {
  .menu ul {
    display: flex;
  }

  .contenido {
    display: flex;
  }

  .columna {
    width: 30%;
  }
}

@media (max-width: 934px) {
  .titulo {
    display: none;
  }

  .lista {
    font-size: 13px;
  }

  .menu {
    font-size: 15px;
  }
}
