/* MEDIA TRASFORM*/

.imagen1:hover {
  transform: rotateY(90deg);
}

.imagen2:hover {
  transform: rotateY(90deg);
}

.imagen3:hover {
  transform: rotateY(90deg);
}

.imagen4:hover {
  transform: rotateY(90deg);
}
