/*VARIALES*/

/*VARIALES index*/

$color-1: rgba(0, 0, 0, 0.247);
$variale-1: white;
$variable-2: 5px;

/*VARIALES Productos*/

$color-2: rgb(180, 28, 28);
$color-texto: white;
$color: Azul;
$color-3: rgb(175, 59, 59);
$texto--adicional: Artesanal;
$color-rosa__viejo: rgb(223, 70, 70);
$color-negro: black;
$color-negro-transparente: rgba($color-negro, 0.4);
